#wrapper {
	width: 955px;
	margin: 0 auto;
	/* [disabled]border-right: 1px solid #999; */
}
#header {: 0px;
	margin
	height: 175px;
	width: 955px;
}
#navbar {
	height: 30px;
	width: 955px;
	padding-top: 5px;
	/* [disabled]background-image: url(images/nav-scuba2u.jpg); */
	background-color: #7C9194;
}
#navbar a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	color: #FFF;
	text-decoration: none;
	letter-spacing: 0.1em;
	font-weight: bold;
	padding-right: 18px;
	padding-left: 10px;
}
#main {
	background-color: #FFF;
	width: 955px;
	border-right: 1px #999 solid;
}
#main a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
}


#left {
	padding: 10px;
	width: 600px;
	padding-bottom:100px;
}

#right {
	width: 360px;
	float: left;
	padding: 10px 10px 10px 10px;
}

#footer {
	height: 30px;
	width: 955px;
	position: absolute;
	bottom: -124px;
	left: 4px;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #CCC;
}
h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
	color: #333;
}
h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
}
p , legend, li,td{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: .9em;
	color: #333;
}
.instructions {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	color: #900;
}
