*{
	margin: 0 auto;
}
#wrapper {
	text-align:center;
	margin:0 auto;

    height:100%;
	
}
#header {: 
	padding:0px;
	margin: 0 auto;
	text-align: center;
}
#navbar {
	height: 30px;
	width: 955px;
	padding-top: 5px;
	background-color: #7C9194;
	 /*text-align: center;*/
}
#navbar a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	color: #FFF;
	text-decoration: none;
	letter-spacing: 0.1em;
	font-weight: bold;
	padding-right: 18px;
	padding-left: 10px;
}
#main {
	background-color: #FFF;
	width: 955px;
	border-right: 1px #999 solid;
	
}
#main a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
}


#left {
	padding:10px;
    padding-bottom:30px;
	text-align: left;
	height: 400px;
}

#right {
	width: 360px;
	float: left;
	padding: 10px 10px 10px 10px;
}

#footer {
    bottom:0;
    width:100%;
	margin: auto;
	
}
body {
	margin: 0;
	padding: 10px;
	background-color: #CCC;
	padding-bottom: 30px;
	text-align: center;
}


h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.6em;
	color: #333;
}
h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
}
p , legend, li,td{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: .9em;
	color: #333;
}
.instructions {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	color: #900;
}
